---
import { journey } from "../data/journey";
---

<div class="flex flex-col justify-center w-full md:mt-16 mt-10">
  <h1
    class="md:text-5xl text-3xl font-bold md:mb-12 mb-5 text-center justify-center fade-in from-left"
  >
    My Journey
  </h1>
  {
    journey.experience.map((exp) => {
      return (
        <div class="bg-white/10 backdrop-blur-md text-white rounded-4xl p-8 mb-10 md:w-[70%] mx-auto">
          <h4 class="italic text-xs md:text-md fade-in">{exp.period}</h4>
          <h2
            class="md:text-lg text-md font-bold mb-5 text-center mt-2 fade-in from-bottom"
            style="transition: 100ms;"
          >
            Company: {exp.company}
          </h2>
          <h2
            class="md:text-lg text-md mb-5 text-center fade-in from-bottom"
            style="transition: 200ms;"
          >
            Position: {exp.title}
          </h2>
          <h2
            class="md:text-md text:sm italic mb-5 text-center fade-in from-bottom"
            style="transition: 300ms;"
          >
            {exp.description}
          </h2>
        </div>
      );
    })
  }
  {
    journey.education.map((edu) => {
      return (
        <div class="bg-white/10 backdrop-blur-md text-white rounded-4xl p-8 mb-10 md:w-[70%] mx-auto">
          <h4 class="italic text-xs md:text-md fade-in">{edu.period}</h4>
          <h2
            class="md:text-lg text-md font-bold mb-5 text-center mt-2 fade-in from-bottom"
            style="transition: 100ms;"
          >
            {edu.degree}
          </h2>
          <h3
            class="md:text-lg text-md mb-5 text-center fade-in from-bottom"
            style="transition: 200ms;"
          >
            {edu.institution}
          </h3>
        </div>
      );
    })
  }
</div>
